<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">


  <profiles>
    <profile>
      <id>sonar-config</id>
      <properties>
        <sonar.host.url>https://sonar-test.extranet.netcetera.biz/sonar</sonar.host.url>
        <sonar.login>${env.SONAR_USER}</sonar.login>
        <sonar.password>${env.SONAR_PASSWORD}</sonar.password>
      </properties>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>sonar-config</activeProfile>
  </activeProfiles>
  <servers>
    <server>
      <id>nexus</id>
      <username>${env.NEXUS_MAVEN_USER}</username>
      <password>${env.NEXUS_MAVEN_PASSWORD}</password>
    </server>
  </servers>

</settings>